<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Example</title>
</head>
<body>

  <div class="horizontal-card">
    <div class="card">
      <img src="/assets/pizza.jpg" alt="Card Image">
      <h2 class="card-title">Nos pizza's</h2>
      <p class="card-description">Savourez notre délicieuse pizza faite maison, garnie de sauce tomate fraîche,
        de fromage fondant et de vos ingrédients préférés. Parfaite pour un repas convivial, elle ravira petits et grands !</p>
      <a href="#" class="card-button">Commander Vos pizza Ici</a>
    </div>

    <div class="card">
      <img src="/assets/plat.jpg" alt="Card Image">
      <h2 class="card-title">Nos plats Title</h2>
      <p class="card-description"> Découvrez notre plat du jour, préparé avec des ingrédients de saison,
        alliant saveurs authentiques et créativité culinaire. Chaque bouchée est une invitation à un voyage gustatif inoubliable !






      </p>
      <a href="#" class="card-button">Commander Vos Plats Ici</a>
    </div>
  </div>

</body>
</html>
