<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Example</title>
</head>
<body>

  <div class="horizontal-card">
    <div class="card">
      <img src="/assets/boisson.jpg" alt="Card Image">
      <h2 class="card-title">Nos Boissons</h2>
      <p class="card-description">Rafraîchissez-vous avec notre sélection de boissons artisanales, préparées à partir de fruits frais et d'ingrédients naturels.
        Que vous choisissiez un smoothie onctueux ou un jus revitalisant.</p>
      <a href="#" class="card-button">Commander Vos Boissons Ici</a>
    </div>

    <div class="card">
      <img src="/assets/vin.jpg" alt="Card Image">
      <h2 class="card-title">Nos Vin</h2>
      <p class="card-description"> Découvrez notre vin rouge velouté, aux arômes de fruits rouges mûrs et d'épices délicates.
        Parfait pour accompagner vos viandes grillées ou vos plats en sauce.
      </p>
      <a href="#" class="card-button">Commander Vos Vin </a>
    </div>
  </div>

</body>
</html>
